<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AutoCompleteTestSuite" verbose="1">
  <test name="AutoCompleteTest">
    <classes>
       <class name="tests.TestAutoSearchComplete">
       </class>
    </classes>
  </test>
</suite>